<!------- footer section ----------->

<footer class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 p-20 border-b border-black">
  <div class="">
    <h4 class="uppercase py-4">Lorem ipsum</h4>
    <a class="uppercase">dolor sit amet</a>
    <a class="uppercase">consectetur</a>
    <a class="uppercase">adipisicing elit</a>
    <a class="uppercase">sed do</a>
  </div>
  <div>
    <h4 class="uppercase py-4">Lorem ipsum</h4>
    <a class="uppercase">dolor sit amet</a>
    <a class="uppercase">consectetur</a>
    <a class="uppercase">adipisicing elit</a>
    <a class="uppercase">sed do</a>
  </div>
  <div>
    <h4 class="uppercase py-4">Lorem ipsum</h4>
    <a class="uppercase">dolor sit amet</a>
    <a class="uppercase">consectetur</a>
    <a class="uppercase">adipisicing elit</a>
    <a class="uppercase">sed do</a>
  </div>
  <div class="">
    <h4 class="uppercase py-4">subscribe to our newsletter</h4>
    <input class="min-w-full bg-inherit border border-black outline-none">
    <button class="px-4 py-1 mt-4 uppercase border border-black">
      subscribe
    </button>
  </div>
  <div class="my-6 col-span-full md:col-span-1">
    <a>Terms of use</a>
  </div>
</footer>