<!----------- Contact form section ---------->
    
<section class="lg:grid custom-contact-grid min-h-[75vh] border border-black">
  <div class="bg-cover bg-center border-r border-black" style="background-image: url('{{block.bg-image}}');"></div>
  <div class="p-20">
    <h2 class="uppercase text-2xl py-4">{{block.heading}}</h2>
    <form class="">
      <input type="text" id="name" name="name" placeholder="{{block.input-box-name-1}}" class="block w-full bg-transparent border-b border-black placeholder:text-black placeholder:focus:text-gray-400 placeholder:uppercase placeholder:text-sm mb-4 focus:outline-none focus-visible:outline-none">
      <input type="email" id="Email" name="Email" class="block w-full bg-transparent border-b border-black placeholder:text-black placeholder:focus:text-gray-400 placeholder:uppercase placeholder:text-sm mb-4 focus:outline-none focus-visible:outline-none" placeholder="{{block.input-box-name-2}}" required>
      <label for="Message" class="block uppercase text-sm text-black">{{block.input-box-name-3}}</label>
      <textarea id="Message" name="Message" class="block w-full bg-transparent border border-black mb-4 focus:outline-none focus-visible:outline-none resize-none" rows="6" maxlength="3000" required></textarea>
      <div class="text-right">
        <input type="submit" value="Send" class="border border-black py-2 px-8 uppercase text-sm">
      </div>
    </form>
  </div>
</section>