<section class="md:min-h-[75vh] border-t border-black md:grid custom-grid bg-cover bg-center" style="background-image: url('{{block.image}}');">
  <div></div>
  <div class="bg-[#f4eee0]/50 md:bg-[#f4eee0] p-8 flex flex-col justify-center border-x border-black">
    <h2 class="text-3xl uppercase">{{block.heading}}</h2>
    <p class="text-sm py-6">{{block.description}}</p>
    <button href="{{page.overlap.button-link}}" class="text-sm uppercase border border-black max-w-36 p-2">{{block.button-text}}</button>
  </div>
  <div></div>
</section>