<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <title>{{page.title}}</title>

    <!-- SEO  -->
    <title>My First Tailwind Project</title>        
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    <!-- GOOGLE FONTS -->
      
    <!-- TAILWIND -->
    <script src="https://cdn.tailwindcss.com"></script>
      
    <!-- TAILWIND CUSTOMIZE & EXTEND -->
    <script>
        tailwind.config = {
        theme: {
            extend: {
            colors: {
                clifford: '#da373d',
            }
            }
        }
        }
    </script>
      
    <!-- TAILWIND CUSTOM CLASSES -->
    <style type="text/tailwindcss">
    @layer components {
        .btn-primary {
        @apply py-2 px-5 bg-violet-500 text-white font-semibold rounded-full shadow-md hover:bg-violet-700;
        }
        }
    </style>
      
    <!-- CUSTOM CSS LINKS -->
    <link rel="stylesheet" href="/style.css">
      
</head>

<body class="bg-[#f4eee0]">

    {% include site-header.html %}

    {% for block in page.blocks %}
    <!--{{block._id}} -->
    {% include /block/{{block._id}}.html %}
{% endfor %}

    {{content}}

    {% include site-footer.html %}


</body>

<script src="/main.js"></script>

</html>